<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AudioRecorder.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>188EA2421E55D4FE00E858A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>188EA25B1E55D4FF00E858A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>188EA2661E55D4FF00E858A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
